{% extends 'base.html.twig' %}
{% block title %}{{parent()}}- {{'admin.default.home'|trans([],'BoAdminBundle')}}{% endblock %}
{% block smenu %}{%include "BoAdminBundle:Default:tdb.html.twig"%}{% endblock %}
{% block nav %}{% endblock %}
{% block label %}<h1>{{'title.firstconnexion'|trans([],'BoAdminBundle')}} >> {{'title.step'|trans([],'BoAdminBundle')}} 3</h1>{% endblock %}
{% block body %}
	<div id="body-content">
		<form action="{{ path('title.firstconnexion') }}" method="post" class="style">
			{{ form_errors(edit_form) }}
			{%include "BoAdminBundle:User:editactions.html.twig"%}
			<div class="show_content">
				{%include "BoAdminBundle:User:editform.html.twig"%}
			</div>
			{{ form_rest(edit_form) }}
		</form>	
	</div>
{% endblock %}
