    <head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<meta content="" name="Description" />
		<meta content="José Moise N'VEKOUNOU" name="Author" />
		<meta content="" name="Reply-to" />
		<meta content="" name="Copyright" />
		<meta content="" name="Keyword" />
		<meta content="FR" http-equiv="Content-Language" />
		<meta content="no-cache" http-equiv="pragma" />
		<meta content="no-cache" http-equiv="cache-control" />
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}SLSMPRO!{% endblock %}</title>
        {% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/new/style.css') }}">	
		<link rel="stylesheet" href="{{ asset('css/new/header.css') }}">
		<link rel="stylesheet" href="{{ asset('css/new/menu_gd.css') }}">
		<link rel="stylesheet" href="{{ asset('css/new/action_gd.css') }}">		
		<link rel="stylesheet" href="{{ asset('css/actions.css') }}">					
		<link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>	
	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
