<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<meta content="" name="Description" />
		<meta content="José Moise N'VEKOUNOU" name="Author" />
		<meta content="" name="Reply-to" />
		<meta content="" name="Copyright" />
		<meta content="" name="Keyword" />
		<meta content="FR" http-equiv="Content-Language" />
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}SLS!{% endblock %}</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/new/style.css') }}">	
			<link rel="stylesheet" href="{{ asset('css/actions.css') }}">					
			<link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>	
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div id="wrapper">
			<div class="container header">
				<div class="h-left">
					<div class="logo"></div>
					<p class="slogan">
						SLS-MANAGER
					</p>
				</div>
				<div class="h-right">
					{%include "BoUserBundle:Default:userinfo.html.twig"%}
				</div>
			</div>
			<div class="container-fluid menu">
				{%include "BoUserBundle:Default:pm.html.twig"%}
			</div>
			<div id="line"/>
			<div class="container-fluid text-center">    
				<div class="row content">
					<div class="col-sm-8 text-left">
						<div class="container sub-menu">
							<ul class="list-inline">
								{% block smenu %}{% endblock %}								
							</ul>
						</div>
						<div class="container-content">
							{%include "BoAdminBundle:Default:message.html.twig"%}
							{% block label %}{% endblock %}
							{% block actions %}{% endblock %}
							{% block body %}{% endblock %}
						</div>
					</div>
					<div class="col-sm-2 sidenav">
					  <div class="well">
							{% block nav %}{% endblock %}							
					  </div>
					</div>
				</div>
			</div>

			<div class="container-fluid text-center footer">
				  <p>Copyright &copy; Takatim 2016</p>
			</div>
		</div>
        {% block javascripts %}
			
		{% endblock %}
    </body>
</html>
